<div class="container-fluid">
  <div class="row" ng-app="Benchmark">
    <div class="col-lg-12" ng-controller="DataController">
      <p>Directive rendered with AngularJS</p>

      <div>none: <input type="radio" ng-model="benchmarkType" value="none"></div>
      <div>
        baseline: text interpolation 
        <input type=radio ng-model="benchmarkType" value="directiveInterpolation">
      </div>

      Debug output:
      <ng-switch on="benchmarkType">
        <div ng-switch-when="directiveInterpolation">
          
        </div>
      </ng-switch>
    </div>
  </div>
</div>